* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f5f5f5;
}

/* ------------header---------- */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  background: white;
  border-bottom: 1px solid #ddd;
}

.logo img {
  height: 40px;
}

/* ----------Nav------- */
.desktop-nav button {
  margin-left: 10px;
  padding: 6px 10px;
  border: none;
  background: #eee;
  border-radius: 20px;
  cursor: pointer;
}

.mobile-user {
  display: none;
  font-size: 20px;
  cursor: pointer;
}

.hero {
  position: relative;
}

.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
}

/* -------Hero--------- */
.hero {
  height: calc(100vh - 70px);
  overflow: hidden;
}

.hero-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ---------Bottom nav ---------- */
.bottom-nav {
  display: none;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: white;
  border-top: 1px solid #ddd;
  justify-content: space-around;
  padding: 10px 0px;
}

.bottom-nav button {
  background: none;
  border: none;
  font-size: 16px;
}

/* ---------------model---------- */
.modal-overlay {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: white;
  padding: 25px;
  width: 90%;
  max-width: 420px;
  border-radius: 12px;
  position: relative;
}

.close-btn {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 22px;
  cursor: pointer;
}

.modal-body h2 {
  text-align: center;
  margin-bottom: 20px;
}

.modal-body input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 6px;
  border: 1px solid #ddd;
}

.primary-btn {
  width: 100%;
  margin-top: 15px;
  padding: 12px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.secondary {
  background: #444;
}

.user-icon {
  font-size: 42px;
  text-align: center;
  margin-bottom: 20px;
}

.profile p {
  margin: 8px 0;
}

.desktop-nav a,
.bottom-nav a {
  margin-left: 2px;
  padding: 6px 12px;
  text-decoration: none;
  color: black;
  background: #eee;
  border-radius: 20px;
  font-size: 14px;
}

.desktop-nav a:hover,
.bottom-nav a:hover {
  background: #9fa19e;
}

.user-btn {
  margin-left: 10px;
  padding: 6px 10px;
  border: none;
  background: #eee;
  border-radius: 50%;
  cursor: pointer;
}

.toast {
  position: fixed;
  top: 70px;
  right: 30px;
  min-width: 250px;
  padding: 12px 18px;
  border-radius: 6px;
  font-size: 14px;
  color: #fff;
  display: none;
  z-index: 2000;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.toast.success {
  background-color: #16a34a;
}

.toast.error {
  background-color: #dc2626;
}

/* ------------responsive----------- */
@media (max-width: 770px) {
  .desktop-nav {
    display: none;
  }

  .mobile-user {
    display: block;
  }

  .bottom-nav {
    display: flex;
  }

  .hero {
    height: calc(100vh - 120px);
  }
}

/*------------ keep hero same on all screens ---------*/

:root {
  --header-height: 70px;
  --bottom-nav-height: 0px;
}

.hero {
  height: calc(100vh - var(--header-height) - var(--bottom-nav-height)) !important;
}

.hero-content {
  position: absolute;
  inset: 0;
}

.hero-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*-------------- Toast effect -----------------*/

.toast {
  position: fixed;
  top: 70px;
  right: 30px;
  z-index: 9999;
  pointer-events: none;
}

@media (max-width: 770px) {
  :root {
    --bottom-nav-height: 50px;
  }
}
